body {
    background: #eee;
    }
.info p {
    color: #868686;
    margin: 0;
    font-style: oblique;
    font-weight: bold;
    text-decoration: solid;
}

#swagger{
    visibility: visible;
}